.breadcrumb {
  color: #00000073;
  padding: 16px 20px 16px 0;
}

.breadcrumb--item-link:hover {
  color: #40a9ff;
  cursor: pointer;
}

.breadcrumb--item-end {
  color: #000000d9;
}

.breadcrumb-separator {
  padding: 0px 4px;
}
